<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <div class="form_side">
        <div class="form-choice">
            <h1>QR Generator</h1>
            <h3>Generate your QR in a split second</h3>
            <div>
                <label>
                    <input class="input-choice" type="radio" name="type" value="plain" checked>Plain Text   
                </label>
                <label>
                    <input class="input-choice" type="radio" name="type" value="url"> URL    
                </label>
                <label>
                    <input class="input-choice" type="radio" name="type" value="vcard"> Virtual Card
                </label>
            </div>
        </div>
        <form class="qr_form" method="POST" id="text-form" style="display: flex">
            <div class="form_input">
                <label for="inputText" class="form-label">Text *</label>
                <input type="text" autocomplete="off" id="text-input" name="text" placeholder="The text to show" required>
            </div>
            <button type="button" id="create" class="create" onclick="generateQr()">Create QR</button>
        </form>
        <form class="qr_form" method="POST" id="url-form" style="display: none">
            <div class="form_input">
                <label for="inputTexto" class="form-label">URL *</label>
                <input type="text" autocomplete="off" id="text-input" name="url" placeholder="Example: Https://{sitename}.com" pattern="https?://.+">
            </div>
            <button type="button" id="create" class="create" onclick="generateQr()">Create QR</button>
        </form>
        <form class="qr_form" method="POST" id="vcard-form" style="display: none; margin: 3% 0 2% 0;">
            <div class="form_input">
                <label for="full-name" class="form-label">Full Name *</label>
                <input type="text" autocomplete="off" id="full-name" name="full-name" placeholder="Enter your full name" required>
            </div>
            <div class="form_input">
                <label for="title" class="form-label">Title</label>
                <input type="text" autocomplete="off" id="title" name="title" placeholder="Enter your role or your job">
            </div>
            <div class="form_input">
                <label for="phone-number" class="form-label">Phone Number *</label>
                <input type="tel" id="phone-number" name="phone-number" placeholder="Enter your phone number" required>
            </div>
            <div class="form_input">
                <label for="email" class="form-label">Email *</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form_input">
                <label for="website">Website</label>
                <input type="text" autocomplete="off" id="website" name="website" placeholder="Your website if you have one" pattern="https?://.+">
            </div>
            <div class="form_input">
                <label for="notes" class="form-label">Notes</label>
                <textarea id="notes" name="notes" placeholder="Some extra info that you want to share"></textarea>
            </div>
            <button type="button" id="create" class="create" onclick="generateQr()">Create QR</button>
        </form>
    </div>
    <div class="qr_canvas">
        <div class="rectangle_out"> 
            <div class="rectangle_in" id="qr_rectangle">
            </div>
        </div>
        <div id="page_text">
            <h4 id="warning">Warning: any QR generated with this site
            will be eliminated, I will not keep any data.</h4>
        </div>
        <div id="link"></div>
    </div>
</body>
</html>